@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --cor-primaria: black;
    --cor-secundaria: #A0153E;
    --cor-fonte: #f6f6f6;
    --cor-footer: #FF204E;

    --fonte-primaria: "Kode Mono", monospace;
    --fonte-secundaria: "Share Tech Mono", monospace;

    --20px-rem: 1.25rem;
    --24px-rem: 1.5rem;
    --26px-rem: 1.625rem;
    --32px-rem: 2rem;
}

strong {
    color: var(--cor-footer);
}

header {
    display: flex;
    align-items: center;
    gap: 8%;
    padding: 2% 0% 2% 15%;  
}

.header_index {
    display: flex;
    align-items: center;
    gap: 8%;
    padding: 2.8% 0% 2.8% 15%;  
}

.header_links {
    text-decoration: none; 
    color: var(--cor-footer);
    font-family: var(--fonte-secundaria);
    font-size: var(--26px-rem);
    font-weight: 500;
}

.logo_steam {
    width: 11%;
    height: 11%;
}

.header_links_steam {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    padding: 0.4%;
    text-decoration: none; 
    box-sizing: border-box;
    color: var(--cor-fonte);
    font-family: var(--fonte-secundaria);
    font-size: var(--26px-rem);
    font-weight: 500;
    border: solid var(--cor-secundaria);
    border-radius: 5px;
    width: 23%;
    
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    overflow-x: hidden;
}

main {
    padding: 5% 0% 5% 0%;
}

@keyframes apper{
    from{
        opacity: 0;
        scale: 0.5;
        translate: 50vw 0 0 0;
    }

    to {
        opacity: 1;
        scale: 1;
        translate: 0 0 0 0;
    }
}


.links_jogos {
    color: #f6f6f6;
    display: flex;
    align-items: center;
    gap: 7%;
    text-decoration: none;
    font-family: var(--fonte-primaria);
    font-weight: 500;
    font-size: var(--26px-rem);
    transition: transform 0.4s;
    width: 50%;
    animation: apper 1ms ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 50%;
}

.links_jogos:hover {
    transform: scale(1.1);
}

.links {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding-left: 14%;
    gap: 20em;
    padding-bottom: 10%;
}

.jogos_imagem {
    width: 35%;
    
    border-radius: 10%;
    border: solid var(--cor-secundaria);
}

footer {
    font-family: var(--fonte-secundaria);
    display: flex;
    justify-content: center;
    background-color: var(--cor-footer);
    padding: 15px 0px 15px 0px;
}


/* ABOUT CONFIG */

.conteudo{
    display: flex;
    justify-content: center;
    gap: 5%;
    align-items: center;
}

.conteudo_textos {
    color: var(--cor-fonte);
    font-family: var(--fonte-primaria);
    display: flex;
    flex-direction: column;
    gap: 6em;
    width: 40%;
}
.titulo_links {
    display: flex;
    justify-content: center;
}
.links_pai {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3em;
    animation: apper 1ms ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 20%;
}

.links_links {
    display: flex;
    justify-content: center;
    gap: 5%;
}

.link_social{
    display: flex;
    text-decoration: none;
    color: #f6f6f6;
    justify-content: center;
    align-items: center;
    gap: 5%;
    border: solid var(--cor-secundaria);
    border-radius: 12px;
    padding: 2%;
    width: 30%;
    transition: transform 0.4s;
}

.link_social:hover {
    transform: scale(1.1);
}

.links_logo {
    width: 10%;
}

.texto {
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 100%;
}

.conteudo_textos_titulo {
    font-weight: 700;
    font-size: var(--32px-rem);
    color: var(--cor-secundaria);
    font-family: var(--fonte-primaria);
    border-left: solid var(--cor-secundaria);
    padding-left: 2%;
    animation: apper 1ms ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 40%;
}

.conteudo_textos_paragrafo {
    font-weight: 500;
    font-size: var(--24px-rem);
    animation: apper 1ms ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 40%;

}

.conteudo_textos_titulo_e {
    font-weight: 700;
    font-size: var(--32px-rem);
    color: var(--cor-secundaria);
    font-family: var(--fonte-primaria);
    border-left: solid var(--cor-secundaria);
    padding-left: 2%;
    animation: apper 0.5s;
}

.conteudo_textos_paragrafo_e {
    font-weight: 500;
    font-size: var(--24px-rem);
    animation: apper 0.5s;
}

.conteudo_imagem {
    border-radius: 15px;
    animation: apper 1ms ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 40%;
}

/* GAMES PART */

.botoes_footer{
    display: flex;
    justify-content: center;
}

.home_a {
    font-family: var(--fonte-primaria);
    font-size: var(--32px-rem);
    text-decoration: none;
    text-align: center;
    display: flex;
    justify-content: center;
    border-bottom: solid var(--cor-secundaria);
    border-radius: 5px;
    color: var(--cor-fonte);
    padding: 15% 40% 15% 40%;
    transition: transform 0.3s;
}

.home_a:hover {
    border-bottom: solid var(--cor-footer);
    transform: scale(1.03);
}

.logo_jogo {
    height: 8%;
    width: 8%;
    border: solid var(--cor-footer);
    border-radius: 20px;
}

.cabecalho_item {
    color:var(--cor-secundaria);
}

.cabecalho_jogo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
    animation: apper 0.5s;
}

.apresentacao_jogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    gap: 8em;
}

.cabecalho_jogo_items {
    color: var(--cor-fonte);
    font-family: var(--fonte-primaria);
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    border-left: solid var(--cor-footer);
    border-radius: 2px;
    padding: 0.5% 0% 0.5% 1%
    
}

.imagem_milku_sac{
    border-radius: 15px;
    height: 80%;
    animation: apper 1ms ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 40%;
}

.conteudo_apresentacao_jogo_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
   
}

.container {
    display: flex;
    justify-content: center;
    
}

.conteudo_textos_paragrafo_jogo {
    font-size: var(--24px-rem);
}

.conteudo_textos_paragrafo_jogo_a {
    font-size: var(--24px-rem);
    animation: apper 1ms ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 40%;
}

.conteudo_apresentacao_jogo_2 {
    display: flex;
    justify-content: center;
    gap: 5%;
}

.milku_andando {
    border-radius: 15px;
    width: 30%;
    height: 30%;
    animation: apper 1ms ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 40%;
}

.gameplay_ {
    animation: apper 1ms ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 40%;
}

.conteudo_textos_paragrafo_jogo2 {
    font-size: var(--24px-rem);
    width: 60%;
    color: var(--cor-fonte);
    font-family: var(--fonte-primaria);
}

.conteudo_apresentacao_undertale_paragrafo_underline {
    box-sizing: border-box;
    font-size: var(--24px-rem);
    color: var(--cor-fonte);
    font-family: var(--fonte-primaria);
    border-bottom: solid var(--cor-footer);
    padding-bottom: 0.5%;
    animation: apper 1ms ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 40%;
}

.conteudo_apresentacao_undertale_paragrafo_underline2 {
    box-sizing: border-box;
    font-size: var(--20px-rem);
    color: var(--cor-fonte);
    font-family: var(--fonte-primaria);
    border-bottom: solid var(--cor-secundaria);
    padding-bottom: 0.5%;
    animation: apper 1ms ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 40%;
}

.img_mobm_finals {
    border-radius: 15px;
    width: 70%;
    animation: apper 1ms ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 40%;
}

/* #################################################################### UNDERTALE #################################################################### */

.apresentacao_undertale {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    gap: 5%;
    align-items: center;
}

.sobre_jogo_textos {
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 40%;
    box-sizing: border-box;
    font-family: var(--fonte-primaria);
}

.conteudo_apresentacao_undertale_paragrafo {
    box-sizing: border-box;
    font-size: var(--24px-rem);
    color: var(--cor-fonte);
    font-family: var(--fonte-primaria);
}

.conteudo_apresentacao_undertale_paragrafo_a {
    box-sizing: border-box;
    font-size: var(--24px-rem);
    color: var(--cor-fonte);
    font-family: var(--fonte-primaria);
    animation: apper 1ms ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 40%;
}


.conteudo_apresentacao_undertale_paragrafo_d {
    box-sizing: border-box;
    font-size: var(--24px-rem);
    color: var(--cor-fonte);
    font-family: var(--fonte-primaria);
}

.conteudo_apresentacao_undertale_paragrafo_e {
    box-sizing: border-box;
    font-size: var(--24px-rem);
    color: var(--cor-fonte);
    font-family: var(--fonte-primaria);
}

.imagem1_undertale {
    border-radius: 15px;
    animation: apper 1ms ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 40%;
}

.sans {
    width: 13%;
   padding-left: 50%;
   animation: apper 1ms ease-in-out;
   animation-timeline: view();
   animation-range: cover 0% cover 30%;
}

.sansneutro {
    animation: apper 1ms ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 40%;
}

.finais_undertale {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5em;
    width: 100%;
    font-family: var(--fonte-primaria);
    padding: 0% 0% 5% 0%;
}

.finais_undertale_sub {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    width: 60%;
    border: solid var(--cor-secundaria);
    padding: 2.5%;
    border-radius: 15px;
    animation: apper 1ms ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 30%;
}

.conteudo_apresentacao_undertale_requisitos {
    box-sizing: border-box;
    font-size: 1.375rem;
    color: var(--cor-fonte);
    font-family: var(--fonte-primaria);
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-left: 6%;
}

li {
    list-style-type: none;
    position:relative;
    animation: apper 1ms ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 35%;
}

li:before {
    content: '->';
    color: var(--cor-footer);
    left: -1.5em;
    display: inline-block;
    position: absolute;
}

.undertale_pacifista {
    width: 55%;
    animation: apper 1ms ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 40%;
}

.nobody {
    animation: apper 1ms ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 40%;
}

.strong2 {
    color: var(--cor-secundaria)
}

.imagem2_undertale {
    
    border-radius: 12px;
    width: 30%;
    animation: apper 1ms ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 40%;
}

.apresentacao_undertale2 {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    gap: 5%;
}

.music_c {
    width: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2em;
    align-items: center;
    padding: 0% 0% 5% 0%;
}

.music_descricao {
    box-sizing: border-box;
    font-size: 1.2rem;
    color: var(--cor-fonte);
    font-family: var(--fonte-primaria);
    border-bottom: solid var(--cor-footer);
    border-radius: 3px;
    animation: apper 0.5s;
}

body::-webkit-scrollbar {
    width: 6px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: black;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: var(--cor-footer);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
  }

/* #################################################################### FRAN BOW #################################################################### */

.apresentacao_franbow {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    gap: 5%;
    align-items: center;
}

.itward {
    width: 45%;
    padding: 0% 0% 0% 27.5%;
    animation: apper 1ms ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 40%;
}

.about_dimention {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    width: 60%;
}


.img_dimentions2 {
    border-radius: 15px;
    width: 70%;
    animation: apper 1ms ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 40%;
}

.remor {
    width: 20%;
    animation: apper 1ms ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 40%;
}

.conteudo_apresentacao_undertale_paragrafo2 {
    box-sizing: border-box;
    font-size: var(--24px-rem);
    color: var(--cor-fonte);
    font-family: var(--fonte-primaria);
    display: flex;
    align-items: center;
}

.conteudo_apresentacao_undertale_paragrafo1 {
    box-sizing: border-box;
    font-size: var(--24px-rem);
    color: var(--cor-fonte);
    font-family: var(--fonte-primaria);
    text-align: justify;
    animation: apper 1ms ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 40%;
}
/* #################################################################### LITTLE MISFORTUNE #################################################################### */

.alem {
    font-weight: 700;
    font-size: var(--32px-rem);
    color: var(--cor-secundaria);
    font-family: var(--fonte-primaria);
    font-family: "Special Elite", system-ui;
    font-weight: 400;
    animation: apper 1ms ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 40%;
}

/* #################################################################### COFFE TALK #################################################################### */

.imgs_coffe_talk {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;

}

.img3_coffetalk {
    border-radius: 15px;
    width: 40%;
    animation: apper 1ms ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 40%;
}

.apresentacao_coffetalk {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    gap: 2%;
    align-items: center;
}